*{
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgb(255, 247, 247);
    box-shadow: 0 3px 6px #b1afaf;
}

nav .links a{
    padding: 9px;
    text-decoration: none;
    color: black;
}

nav .links{
    display: flex;
    justify-content: end;
}

.About h2{
    color: #0077b5;
}
.icon a{
    padding: 10px;
    color: black;
    font-size: 25px ;
    transition: 0.2s ease;
} 

.icon a:nth-child(1):hover {
    border-radius: 50%;
    color: white;
    background-color: #0077b5;
}

.icon a:nth-child(2):hover {
    border-radius: 50%;
    background-color: rgb(223, 219, 219);
}

.icon a:nth-child(3):hover {
    border-radius: 50%;
    color: white;
    background-color: #ea4335;
}

.icon a:nth-child(4):hover {
    border-radius: 50%;
    color: white;
    background-color: #34a853;
}

/* section About  */
@media (max-width: 576px) {
    .About{
        text-align: center;
    }
    .About p{
        font-size: 14px;
    }
}

.About .image-contain{
    width: 400px;
    height: 400px;
}

.About .image-contain img{
    width: 100%;
    height: 100%;
    margin-left: 22px;
    object-fit: contain;
}

/* about img  */
@media (max-width: 576px){
    .About .image-contain img{
        margin-left: 0px;
    }
}

@media (max-width: 768px) {
    .About .image-contain img{
        width: 80%;
        height: 80%;
    }
}
/* end about img  */

.footer-section{
    margin-top: 71px;
    text-align: center;
    color: white;
    padding: 10px;
    background-color: rgb(37, 35, 39);
}

@media (max-width: 576px){
    .footer-section h3{
        margin-top: 10px;
        font-size: 18px;
    }
}

