body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #10011e;
}
body::selection{
    background-color: #480a82;
    color: white;
}
/* nav */
.nav{
    width: 100%;
    height: 80px;
    background-color: #19042d;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.links a{
    color: white;
    text-decoration: none;
    display: inline-flex;
    height: 80px;
    align-items: center;
    margin-right: 180px;
    font-size: 20px;

}
.links a:hover{
    color: #763CAC;
}
.logo{
    margin-top: 18px;
    margin-left: 180px;
}
/* section-1 */
p{
    color: white;
}
h1{
    color: white;
}
/* section-1 */
.section-1{
    width: 100%;
    margin-top: 50px;
    background-image: url(./image/Gradient.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: flex;
    justify-content: center;
}
.left-1 img{
    width: 259px;
    height: 259px;
    border-radius: 50%;
    object-fit: cover;
}
span{
    color: #763CAC;
}
.right-1{
    margin-top: 40px;
    margin-left: 60px;
}
/* section-2 */
.section-2{
    width: 100%;
    margin-top: 80px;
}
.top-1{
    display: flex;
    justify-content: center;
    margin-right: 80px;
    font-size: 22px;
}
.bottom-1{
    display: flex;
    justify-content: center;
    margin-right: 10px;
}
/* section-3 */
.section-3{
    width: 100%;
    margin-top: 80px;
    background-image: url(./image/Gradient.png);
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: contain;
}
.title{
    margin-left: 100px;
}
.one,.two,.three,.four{
    width: 600px;
    height: 189px;
    display: flex;
    background-color: #19042d;
    border-top: #763CAC solid 5px;
}
.top-2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}
.bottom-2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}
.left-3,.left-4,.left-5,.left-6{
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.btn{
    padding: 10px;
    color: white;
    background-color: #480a82;
    border-radius: 10px;
    border: #763CAC solid;
}
.btn:hover{
    background-color: #2f0853;
}
/* section-4 */
.section-4{
    width: 100%;
    margin-top: 80px;
}
.top-3 h1{
    display: flex;
    justify-content: center;
}
.top-3 p{
    display: flex;
    justify-content: center;
}
.icons{
    display: flex;
    justify-content: center;
}
.icons img{
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
.bottom-3{
    display: flex;
    justify-content: center;
}
/* section-5 */
.section-5{
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(./image/Gradient.png);
    background-repeat: no-repeat;
    background-position: 700px 0px ;
}
.right-7 img{
    width: 400px;
    height: 250px;
    box-shadow: -15px -15px 0px 15px #2B0B3A;
    border-radius: 8px 0 0 0;
}
.text-color{
    color: #CCD6F6;
}
.blur{
    padding: 10px 30px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0px 0px 5px 0px white inset;
}
.left-7 img{
    margin-top: 30px;
    margin-left: 20px;
}
/* section-6 */
.section-6{
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(./image/Gradient.png);
    background-repeat: no-repeat;
    background-position: 200px 0px ;
}
.left-8 img{
    width: 400px;
    height: 250px;
    box-shadow: 15px -15px 0px 15px #2B0B3A;
    border-radius: 0 8px 0 0;
}
.right-8 img{
    margin-top: 30px;
    margin-right: 20px;
    position: relative;
    left: 380px;
}
.margin{
    direction: rtl;
}
.margin-1{
    direction: rtl;
}
/* section-7 */
.section-7{
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(./image/Gradient.png);
    background-repeat: no-repeat;
    background-position: 700px 0px ;
}
.right-9 img{
    width: 300px;
    height: 400px;
    box-shadow: -15px -15px 0px 15px #2B0B3A;
    border-radius: 8px 8px 8px 8px;
}
.text-color{
    color: #CCD6F6;
}
.blur{
    padding: 10px 30px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0px 0px 5px 0px white inset;
}
.left-9 img{
    margin-top: 30px;
    margin-left: 20px;
}
/* footer */
.footer{
    height: 300px;
    position: absolute;
    left: 200px;
}
.footer img{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}
.footer p{
    margin-top: 20px;
}
.footer h1{
    margin-bottom: 50px;
}